.Container {
  margin-left: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.ImgBox {
  display: flex;
  justify-content: center;
}

.ProductImg {
  width: 100px;
  height: 100px;
}

.Description {
  font-size: small;
}

.TotalBtn {
  cursor: pointer;
}

/* ---------- 전체 보기 모달 ---------- */

.Modal {
  width: 1320px;
}

.ModalBody {
  max-height: calc(100vh - 430px);
  overflow-y: auto;
  overflow-x: auto;
}

.ModalContent {
  min-width: 1256px;
}

.ModalImgBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}