.Container {
  margin-left: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.ImgBox {
  display: flex;
  justify-content: center;
}

.ProductImg {
  width: 100px;
  height: 100px;
}

.Description {
  font-size: small;
}

.TotalBtn {
  cursor: pointer;
}
