.Container {
  width: 1180px;
}

.Header {
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
}

.ProductListContainer {
  padding: 6px;
}

.ProductList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.TotalCount {
  padding-top: 10px;
}

.TotalCountTxt {
  font-size: large;
  font-weight: 400;
}

.SelectSort {
}
