.Container {
  width: 1180px;
}

.Header {
  width: 100%;
  min-height: 48px;
  display: flex;
  justify-content: space-between;
}

.ProductListContainer {
  padding: 6px;
}

.ProductListContent {
}

.ProductList {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.NoProductListContainer {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
}

.NoProductList {
  text-align: center;
}

.NoProductListAlert {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.NoProductListTxt {
  font-weight: 400;
}

.TotalCount {
  padding-top: 10px;
}

.TotalCountTxt {
  font-size: large;
  font-weight: 400;
}

.SelectSort {
}

.Compare {
  overflow: auto;
}

.OptionTags {
  display: flex;
  margin-left: 20px;
}

.SelectedTagContainer {
  background-color: #ddd;
  height: 25px;
  margin-right: 5px;
}

.SelectedTag {
}
