.ListContainer {
  width: 1640px;
  display: flex;
  padding-bottom: 120px;
  margin: 0 auto;
  justify-content: center;
}

.ListContents {
  margin-left: 50px;
  margin-right: 50px;
  min-width: 1440px;
}

.ListTitle {
  font-size: x-large;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 20px;
}

.List {
  display: flex;
  word-wrap: break-word;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ListOption {
  width: 240px;
  margin-right: 32px;
  margin-top: 10px;
}

.ListItem {
  width: 1168px;
}

.RecentlyViewed {
  float: right;
  width: 200px;
}

.Compare {
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  padding-left: 90px;
}
