.Container {
  width: 1640px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 120px;
  margin: 0 auto;
  margin-top: 50px;
}

.Title {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 20px;
}

.List {
  display: flex;
  word-wrap: break-word;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.Options {
  width: 240px;
  margin-right: 32px;
}

.ItemList {
  width: 1168px;
}

.RecentlyViewed {
  float: right;
  width: 200px;
}
