.Container {
  margin: 0 auto;
  width: 1440px;
  margin-top: 48px !important;
  margin-left: 70px;
  margin: 0 auto;
  display: block;
}

.ResultContatiner {
  width: 100%;
  padding-top: 120px;
}

.Result {
  display: block;
  text-align: center;
}

.ResultCheck {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.ResultTitle {
  font-size: x-large;
  font-weight: bold;
}

.ResultBtnContainer {
  text-align: center;
}

.ResultBtn {
  width: 276px;
  min-width: auto;
  padding: 0;
  cursor: pointer;
  color: #fff;
  background-color: #e6007e;
  height: 56px;
  font-size: 18px;
  b-radius: 28px;
  font-weight: 400;
  b: none;
  margin-top: 50px;
}
