.Container {
  max-height: 183px;
  position: sticky;
  bottom: 0;
  z-index: 200;
}

.Modal {
  width: 1180px;
}

.ModalHeader {
  background-color: #2d2926;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 50px;
  font-size: large;
  font-weight: bold;
  align-items: center;
}

.ModalHeaderTxt {
  margin-left: 20px;
}

.ModalContent {
  max-width: 1180px;
  bottom: 0;
  position: fixed;
  z-index: 99;
  margin: 0;
  background-color: white;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.ModalBodyContainer {
  display: flex;
  align-items: center;
}

.ModalBody {
  max-height: calc(100vh - 430px);
  overflow-y: auto;
  display: flex;
  width: 1200px;
}

.CompareBtnContainer {
  align-items: center;
}

.CompareBtn {
  margin-right: 20px;
}
