.Modal {
  /*width: 100%;*/
  /*min-height: calc(100% - 3.5rem);*/
  width: 1320px;
}

.ModalHeader {
  background-color: #f5f5f5;
  border-radius: 10px 10px 0 0;
}

.ModalBody {
  max-height: calc(100vh - 430px);
  background: #f5f5f5;
  overflow-y: auto;
}

.ModalContent {
  min-width: 1320px;
}

.HeaderMenu {
  position: relative;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.HeaderSortContainer {
  width: 100%;
  display: flex;
  justify-content: right;
  margin-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.HeaderSelectSort {
  width: 220px;
}

.HeaderMenuNav {
  width: 1256px;
  height: 56px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.HeaderLeftMenu {
  flex: 1 1 40%;
  text-align: center;
  padding-left: 300px;
}

.HeaderRightMenu {
  display: flex;
  flex: 1 1 40%;
  text-align: center;
  justify-content: space-evenly;
}

.NavIcon {
  width: 50px;
  cursor: pointer;
}

/*
  color: #e6007e;
  border-bottom: 2px solid #e6007e;
  */

.NavItem {
  float: left;
  text-decoration: none;
  display: block;
  height: 56px;
  line-height: 56px;
  white-space: nowrap;
  padding-right: 20px;
  padding-left: 20px;
}

.HeaderMenuContents {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
}

/* 요금제 BOX */

.PlanContainer {
}

.PlanContainerStack {
}

.PlanInfoContainer {
  position: relative;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 14px;
  overflow: hidden;
  background: white;
  padding: 16px 40px;
  width: 1256px;
  padding: 24px 48px 24px 34px;
}

.PlanItemContainer {
}

.PlanItem {
}

.PlanInfo {
  width: 1180px;
  display: flex;
  justify-content: space-between;
}

.PlanMain {
  float: left;
  flex: 1 1 40%;
  padding-left: 20px;
}

.PlanName {
  font-size: large;
  font-weight: bold;
  margin-bottom: 10px;
}

.PlanPrice {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 10px;
}

.PlanDetail {
  width: 560px;
  display: flex;
  float: right;
  flex: 1 1 40%;
}

.PlanDetailItem {
  padding: 10px;
  font-size: xx-large;
  flex: 1 1 40%;
  text-align: center;
  font-weight: bold;
}

.VoiceInfinityContainer {
}

.VoiceInfinityTop {
  font-size: 15px;
}

.VoiceInfinityBottom {
  font-size: smaller;
}

/* Modal Footer */

.ModalFooter {
  display: flex;
  flex-wrap: wrap;
  padding: 24px 64px 32px;
  border-top: 1px solid #ddd;
}

.FooterInfo {
  width: 100%;
  margin-bottom: 24px;
}

FooterInfoUL {
}

.FooterInfoLI {
  font-size: small;
  color: #666;
  list-style: none;
  margin-top: 4px;
}

.FooterBtnContainer {
  width: 100%;
  text-align: center;
}

.FooterCancelBtn {
  width: 140px;
  padding: 0;
  cursor: pointer;
  height: 40px;
  font-size: 18px;
  border-radius: 28px;
  font-weight: 400;
  border: 1px;
  border-style: solid;
  border-color: lightgray;
  margin-right: 10px;
  background-color: white;
}

.FooterApplyBtn {
  width: 140px;
  padding: 0;
  cursor: pointer;
  color: #fff;
  background-color: #e6007e;
  height: 40px;
  font-size: 18px;
  border-radius: 28px;
  font-weight: 400;
  border: none;
}
