.Container {
  display: flex;
  margin: 0 auto;
  width: 1440px;
  margin-top: 48px !important;
  margin-left: 70px;
  margin: 0 auto;
  justify-content: center;
}

.ResultInfo {
  width: 1056px;
}

.ResultInfoTitle {
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 50px;
}

.ResultInfoContent {
  width: 1056px;
}

.UserInfo {
  margin-bottom: 30px;
}

.Title {
  display: block;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: larger;
}

.ContentTitle {
  font-size: large;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.ResultBtnContainer {
  text-align: center;
}

.ResultBtn {
  width: 276px;
  min-width: auto;
  padding: 0;
  cursor: pointer;
  color: #fff;
  background-color: #e6007e;
  height: 56px;
  font-size: 18px;
  border-radius: 28px;
  font-weight: 400;
  border: none;
  margin-top: 50px;
}
